<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.lvyou.dao.CityDao" >
  <resultMap id="BaseResultMap" type="com.chen.lvyou.entity.City" >
    <id column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="cityName" property="cityname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_id, cityName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_city
    where city_id = #{cityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_city
    where city_id = #{cityId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chen.lvyou.entity.City" >
    insert into t_city (city_id, cityName)
    values (#{cityId,jdbcType=VARCHAR}, #{cityname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chen.lvyou.entity.City" >
    insert into t_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityname != null" >
        cityName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.lvyou.entity.City" >
    update t_city
    <set >
      <if test="cityname != null" >
        cityName = #{cityname,jdbcType=VARCHAR},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.lvyou.entity.City" >
    update t_city
    set cityName = #{cityname,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_city
  </select>
</mapper>